footer{
    width: 100%;
    background-color: black;
    padding: 60px 0px   ;
}

footer nav{
    text-align: center;
}

footer nav ul{
}

footer nav ul li{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    list-style: none;
}

footer nav ul li a{
    font-family: "Arial Nova";
    color: white;
}


